fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1
pydantic-settings==2.10.1
redis==6.4.0
SQLAlchemy==2.0.43
asyncpg==0.30.0
python-dotenv==1.1.1
tenacity==9.1.2
pyotp
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
argon2-cffi==21.3.0
yfinance
pandas
requests
beautifulsoup4
aiosqlite
supervisor
aioboto3
boto3
botocore
pdfplumber
python-docx
python-multipart
email-validator
